#root,
.header,
.info {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.item-container {
  scroll-snap-align: center;
  height: 100%; /* Adjust this value based on your desired item height */
}

.item-container-parent {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh; /* Adjust this value based on your desired height */
}
