#root,
.header,
.info {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.item-container {
  height: 600px; /* Adjust this value based on your item size */
  display: flex;
  justify-content: center;
  align-items: center;
}
